@media screen and (min-height: 300px) and (min-width: 500px){
   img{
   width: 20%;
   margin-left:5%;
  }
  a:hover{
    text-decoration: underline;
  }  
  body{
    background-image:url(../images/f3.jpg);
  }
  td{
  font-size:120%;
  background: rgba(500,500,500,0.3);
}
}
  li img{
  display:block;
 }
header{
  font-size:110%;
  text-align:center;
}
div{
  background-color: rgba(110, 110,110,0.3);
  box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.9);
  border-radius: 10px;
  margin:2% auto;
  text-align:center;
  padding:0.2% 0.5% 0.5% 0.8%;
}
p:first-letter{
  margin-left:3%;
  font-size:150%;
}
th{
  border:1px white solid;
  background: rgba(100,100,100,0.3);
}

@media screen and (max-width: 500px), (max-height:300px){
  body{
    background-image:url(../images/logo.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size:cover;
  }
  a{
    color:rebeccapurple;
  }
  table{
    margin:5% 0%;
  }
  th{
    font-size: 70%;
  }
  td{
    font-size:70%;
    background: rgba(200,200,200,0.3);
  }
    img{
  width: 50%;
}
}